
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html, body {
  font-family: 'Open Sans', Arial, sans-serif;
  /* color: #dfdfdf; */
  /* background-image: url("../images/dvsup-white.png"); */
  /* position: relative; */
  height: 100%;
  background: #46332a;
  color: #ffffff;
}

@media screen and (min-width: 820px) {
  body {
    padding-bottom: 100px;
  }
}

/* navbar elements */

nav {
  background-image: url(../images/zwartevilt_lbrown.png);
  /* border-bottom: 2px solid #cccccc; */
}

.navLinks {
  overflow: auto;
  max-width: 1600px;
  margin: 0 auto;
}

li a {
  float: right;
  padding: 25px 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-variant: small-caps;
  font-size: 18px;
}

header {
  float: left;
  position: relative;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  /* background-image: url(../images/zwartevilt_lbrown.png); */
  /* There should be a better way to make this fit */
  /* padding: 25px 16px; */
  text-align: center;
  font-variant: small-caps;
}

li a:hover {
  background: #56260c;
  color: #c8a52c;
  transition: all .2s ease-in-out; 
}

li a:active {
  background: #666666;
}

/* HOME PAGE */ 

.page-section {
  background-image: url("../images/zwartevilt_brown.png");
  overflow: auto;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.08);
  border-top: solid 5px #000000;
}

.content {
  max-width: 800px;
  padding: 20px 20px;
  margin-left: 0;
}

.masthead {
  background-image: url("https://picsum.photos/2400/600/?image=1033");
  background-repeat: no-repeat;
  border-top: none;
  color: #fff;
}

.space-lg {
  height: 60px;  
}

.grid {
  /* box-sizing: border-box; */
}

.grid-row {
  /* margin-top: 90px; */
  padding: 10px;
  /* margin: 0; */
  max-width: 1280px;
  height: 35vh;
}

.grid-tile {
  position: relative;
  clear: none;
  float: left;
  overflow: auto;
  width: calc((100%-100px) / 4);
  height: 100%;
  /* padding: 10px; */
  /* background: lightgray; */
  /* min-width: 290px; */
}

.tile-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border: 1px solid lightgray;
}

.bg-1 {
  background-image: url("../images/tile_1.jpg")
}

.bg-2 {
  background-image: url("../images/tile_2.jpg")
}

.bg-3 {
  background-image: url("../images/tile_3.jpg")
}

.bg-4 {
  background-image: url("../images/tile_4.jpg")
}

h1 {
  font-size: 34px;
  /* border-bottom: 3px solid #cccccc; */
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  padding-bottom: 40px;
}

p {
  font-size: 16px;
  line-height: 1.7rem;
  margin: 0px auto;
}

/* portfolio page */ 

.project {
  float: left;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.button {
  position: absolute;
  width: 300px;
  bottom: 15px;
  color: #ffffff;
  padding: 20px 0;
  background: #4aaaa5;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background: #666666;
}

/* contact page */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  height: 200px;
}

input[type=submit] {
  background: #4aaaa5;
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #666666;
}

footer.main_footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #666666;
  color: #ffffff;
  text-align: center;
  border-top: solid 3px #4aaaa5;
}

footer.main_footer .main_footer_inner {
  padding: 30px 0 5px 0;
  font-size: 12px;
}

/* MEDIA QUERIES */